# Basic Analysis

In [3]:
import pandas as pd
import numpy as np
import os

In [6]:
curr=os.getcwd()
parent_path=os.path.dirname(curr)
data_path=parent_path+'\Dataset'

In [8]:
dataset=pd.read_csv(data_path+'\FineTech_appData.csv')
dataset.head(3)

,user,first_open,dayofweek,hour,age,screen_list,numscreens,minigame,used_premium_feature,enrolled,enrolled_date,liked
0,235136,2012-12-27 02:14:51.273,3,02:00:00,23,"idscreen,joinscreen,Cycle,product_review,ScanP...",15,0,0,0,NaN,0
1,333588,2012-12-02 01:16:00.905,6,01:00:00,24,"joinscreen,product_review,product_review2,Scan...",13,0,0,0,NaN,0
2,254414,2013-03-19 19:19:09.157,1,19:00:00,23,"Splash,Cycle,Loan",3,0,1,0,NaN,1

In [9]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   user                  50000 non-null  int64
 1   first_open            50000 non-null  object
 2   dayofweek             50000 non-null  int64
 3   hour                  50000 non-null  object
 4   age                   50000 non-null  int64
 5   screen_list           50000 non-null  object
 6   numscreens            50000 non-null  int64
 7   minigame              50000 non-null  int64
 8   used_premium_feature  50000 non-null  int64
 9   enrolled              50000 non-null  int64
 10  enrolled_date         31074 non-null  object
 11  liked                 50000 non-null  int64
dtypes: int64(8), object(4)
memory usage: 4.6+ MB

* So there are in total 50000 records and only "enrolled_date" is the one which is having missing values